* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: pink;
  gap: 20px;
}
.dataCart {
  border: 1px solid #ccc;
  padding: 16px;
  text-align: center;
  background-color: white;
  box-shadow: gray 3px 5px 5px;
  border-radius: 10px;
}
.dataCart h3 {
  font-size: 15px;
}
.latestJobs {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 42px;
}
.latestJobs span {
  padding: 5px 69px;
  background: pink;
  border-radius: 39px;
  box-shadow: gray 5px 5px 5px;
}

.details-btn {
  justify-content: space-around;
  display: flex;
  margin-top: 15px;
}
.details-btn button {
  padding: 3px 8px;
  font-size: 16px;
  background: rgb(230, 126, 34);
  border-radius: 7px;
  border: none;
}
.seeBtn {
  align-items: center;
  display: flex;
  justify-content: center;
}
.seeBtn button {
  padding: 3px 49px;
  font-size: 25px;
  border-radius: 10px;
  text-transform: uppercase;
  background: #e67e22;
  border: 1px solid;
  box-shadow: gray 5px 5px 5px;
}

@media screen and (max-width: 768px) {
  .card-main {
    grid-template-columns: repeat(1, 1fr);

    background: rgb(227, 221, 222);
  }
  .latestJobs span {
    padding: 5px 40px;
    background-color: #d2691e;
    color: #fff;
  }
}
