body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}
.footerMain {
  background-color: #333;
  margin-top: 50px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-section {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 0;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.footer-section a:hover {
  color: #e67e22;
}
/* Add styles for social icons */
.social-icons {
  display: flex;
  gap: 10px;
}

.reactLogo {
  font-size: 35px;
}

.social-icons a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .footer-section {
    width: 30%;
  }
}
